/* Github Light and Dark Theme adapted from deno-gfm (https://github.com/lucacasonato/deno-gfm/blob/main/style.js) */

:root {
  --color-canvas-default-transparent: rgba(255, 255, 255, 0);
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-canvas-default: #fff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: #d8dee4;
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-danger-fg: #cf222e;
  --mix-blend-mode: darken;
}

html[data-color-theme='dark'] {
  --color-canvas-default-transparent: rgba(13, 17, 23, 0);
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #8b949e;
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-neutral-muted: rgba(110, 118, 129, 0.4);
  --color-accent-fg: #58a6ff;
  --color-accent-emphasis: #1f6feb;
  --color-danger-fg: #f85149;
  --mix-blend-mode: lighten;
}

.token.keyword,
.token.keyword {
  color: var(--color-prettylights-syntax-keyword);
}
.token.tag .token.class-name,
.token.tag .token.script .token.punctuation,
.token.tag .token.class-name,
.token.tag .token.script .token.punctuation {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}
.token.operator,
.token.number,
.token.boolean,
.token.tag .token.punctuation,
.token.tag .token.script .token.script-punctuation,
.token.tag .token.attr-name,
.token.operator,
.token.number,
.token.boolean,
.token.tag .token.punctuation,
.token.tag .token.script .token.script-punctuation,
.token.tag .token.attr-name {
  color: var(--color-prettylights-syntax-constant);
}
.token.function,
.token.function {
  color: var(--color-prettylights-syntax-entity);
}
.token.string,
.token.string {
  color: var(--color-prettylights-syntax-string);
}
.token.comment,
.token.comment {
  color: var(--color-prettylights-syntax-comment);
}
.token.class-name,
.token.class-name {
  color: var(--color-prettylights-syntax-variable);
}
.token.regex,
.token.regex {
  color: var(--color-prettylights-syntax-string);
}
.token.regex .regex-delimiter,
.token.regex .regex-delimiter {
  color: var(--color-prettylights-syntax-constant);
}
.token.tag .token.tag,
.token.property,
.token.tag .token.tag,
.token.property {
  color: var(--color-prettylights-syntax-entity-tag);
}
.token.deleted,
.token.deleted {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}
.token.inserted,
.token.inserted {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}
