---
import ThemeToggle from '../components/ThemeToggle.astro';
import GitHubRepoLink from '../components/GitHubRepoLink.astro';
---

<!DOCTYPE html>
<html lang="en" data-color-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cousine&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nabla&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/github-theme.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Code Block Demo</title>
    <style>
      header {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5em;
        position: sticky;
        top: 0;
        background-color: var(--color-canvas-default);
        z-index: 2;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="/favicon.png"
          height="48px"
          width="48px"
          alt="Code Block Logo"
        />
      </a>
      <h1>Code Block Demo</h1>
      <ThemeToggle />
      <GitHubRepoLink />
    </header>
    <slot />
    <a href="https://github.com/anurag-roy/astro-code-block">Source</a>
    <script src="/scripts/addLineHighlight.js" defer></script>
    <script src="/scripts/addCopyButton.js" defer></script>
  </body>
</html>
